<!-- <html>
<head>
    <title>Pet Details</title>
</head>
<body>
    <h1>Pet Details</h1>
    <ul>
        <li><strong>Author:</strong> {{ pet.author }}</li>
        <li><strong>Title:</strong> {{ pet.title }}</li>
        <li><strong>Text (Color):</strong> {{ pet.text }}</li>
        <li><strong>Description:</strong> {{ pet.description }}</li>
        <li><strong>Created Date:</strong> {{ pet.created_date }}</li>
        <li><strong>Published Date:</strong> {{ pet.published_date }}</li>
    </ul>
</body>
</html> -->
